USE [master]
GO
/****** Object:  Database [SchoolAcademics]    Script Date: 4/26/2026 12:48:38 AM ******/
CREATE DATABASE [SchoolAcademics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolAcademics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SchoolAcademics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolAcademics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SchoolAcademics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolAcademics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolAcademics]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 4/26/2026 12:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ChapterNo] [int] NOT NULL,
	[ChapterName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Chapter] UNIQUE NONCLUSTERED 
(
	[ClassId] ASC,
	[SubjectId] ASC,
	[ChapterNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 4/26/2026 12:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionPaper]    Script Date: 4/26/2026 12:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionPaper](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[PaperName] [nvarchar](200) NOT NULL,
	[TotalMarks] [int] NULL,
	[DurationMinutes] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionPaperQuestions]    Script Date: 4/26/2026 12:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionPaperQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionPaperId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[QuestionOrder] [int] NOT NULL,
	[Marks] [int] NOT NULL,
	[Section] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Paper_Question] UNIQUE NONCLUSTERED 
(
	[QuestionPaperId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Paper_QuestionOrder] UNIQUE NONCLUSTERED 
(
	[QuestionPaperId] ASC,
	[QuestionOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsCatalog]    Script Date: 4/26/2026 12:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsCatalog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Category] [nvarchar](20) NOT NULL,
	[ChapterId] [int] NOT NULL,
	[DescriptionText] [nvarchar](max) NOT NULL,
	[mcq_opt_1] [nvarchar](300) NULL,
	[mcq_opt_2] [nvarchar](300) NULL,
	[mcq_opt_3] [nvarchar](300) NULL,
	[mcq_opt_4] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 4/26/2026 12:48:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuestionPaper] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_Chapters_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_Chapters_Class]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_Chapters_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_Chapters_Subject]
GO
ALTER TABLE [dbo].[QuestionPaper]  WITH CHECK ADD  CONSTRAINT [FK_QuestionPaper_Class] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([Id])
GO
ALTER TABLE [dbo].[QuestionPaper] CHECK CONSTRAINT [FK_QuestionPaper_Class]
GO
ALTER TABLE [dbo].[QuestionPaper]  WITH CHECK ADD  CONSTRAINT [FK_QuestionPaper_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[QuestionPaper] CHECK CONSTRAINT [FK_QuestionPaper_Subject]
GO
ALTER TABLE [dbo].[QuestionPaperQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QPQ_Paper] FOREIGN KEY([QuestionPaperId])
REFERENCES [dbo].[QuestionPaper] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionPaperQuestions] CHECK CONSTRAINT [FK_QPQ_Paper]
GO
ALTER TABLE [dbo].[QuestionPaperQuestions]  WITH CHECK ADD  CONSTRAINT [FK_QPQ_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionsCatalog] ([Id])
GO
ALTER TABLE [dbo].[QuestionPaperQuestions] CHECK CONSTRAINT [FK_QPQ_Question]
GO
ALTER TABLE [dbo].[QuestionsCatalog]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Chapter] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionsCatalog] CHECK CONSTRAINT [FK_Questions_Chapter]
GO
ALTER TABLE [dbo].[QuestionsCatalog]  WITH CHECK ADD  CONSTRAINT [CHK_MCQ_Options] CHECK  (([Type]='mcq' AND [mcq_opt_1] IS NOT NULL AND [mcq_opt_2] IS NOT NULL OR ([Type]='laq' OR [Type]='saq')))
GO
ALTER TABLE [dbo].[QuestionsCatalog] CHECK CONSTRAINT [CHK_MCQ_Options]
GO
ALTER TABLE [dbo].[QuestionsCatalog]  WITH CHECK ADD  CONSTRAINT [CHK_Question_Category] CHECK  (([Category]='board' OR [Category]='text' OR [Category]='exercise'))
GO
ALTER TABLE [dbo].[QuestionsCatalog] CHECK CONSTRAINT [CHK_Question_Category]
GO
ALTER TABLE [dbo].[QuestionsCatalog]  WITH CHECK ADD  CONSTRAINT [CHK_Question_Type] CHECK  (([Type]='laq' OR [Type]='saq' OR [Type]='mcq'))
GO
ALTER TABLE [dbo].[QuestionsCatalog] CHECK CONSTRAINT [CHK_Question_Type]
GO
USE [master]
GO
