USE [dbSBS_Main]
GO
/****** Object:  Table [dbo].[tbl_AddClass]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AddClass](
	[Class_ID] [int] IDENTITY(1,1) NOT NULL,
	[School] [varchar](50) NULL,
	[Class_Name] [varchar](50) NULL,
	[Active] [bit] NULL,
	[sort_by] [int] NULL,
	[isHifz] [bit] NULL,
 CONSTRAINT [PK_tbl_AddClass] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AddSection]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AddSection](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Section] [varchar](50) NULL,
	[Class_ID] [int] NULL,
	[Fee] [int] NULL,
	[Active] [bit] NULL,
	[Male_Seat] [int] NULL,
	[Female_Seat] [int] NULL,
	[Class_Incharg_ID] [int] NULL,
	[Section_Gender] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_AddSection] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AddTown]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AddTown](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Town] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_tbl_AddTown1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ComplaintUpdate]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ComplaintUpdate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ComplaintID] [int] NULL,
	[Sender] [nvarchar](500) NULL,
	[DateTime] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsNew] [bit] NULL,
 CONSTRAINT [PK_tblComplaintUpdate] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountGroup]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MasterID] [int] NULL,
	[GroupID] [varchar](50) NULL,
	[GroupTitle] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_AccountGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountLedger]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountLedger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherID] [nvarchar](50) NULL,
	[VoucherType] [nvarchar](50) NULL,
	[FolioNumber] [nvarchar](500) NULL,
	[AccountID] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Narration] [nvarchar](max) NULL,
	[Debit] [decimal](18, 0) NULL,
	[Credit] [decimal](18, 0) NULL,
	[Balance] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblAccountLedger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountMaster]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountMaster](
	[MasterID] [int] NOT NULL,
	[Title] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_tblAccountMaster] PRIMARY KEY CLUSTERED 
(
	[MasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccounts]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccounts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MasterID] [int] NOT NULL,
	[GroupID] [varchar](50) NULL,
	[SubGroupID] [varchar](50) NULL,
	[AccountID] [nvarchar](50) NULL,
	[AccountTitle] [nvarchar](max) NULL,
	[CreationDate] [date] NULL,
	[OpeningBalance] [decimal](18, 2) NULL,
	[EntryUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Accounts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccountSubGroup]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccountSubGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MasterID] [int] NOT NULL,
	[GroupID] [varchar](50) NULL,
	[SubGroupID] [varchar](50) NULL,
	[SubGroupName] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_AccountSubGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAssignmentMaster]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAssignmentMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[SubjectID] [int] NULL,
	[AssignmentTitle] [nvarchar](500) NULL,
	[CreationDate] [date] NULL,
	[DueDate] [date] NULL,
	[DocURL] [nvarchar](max) NULL,
	[ClassID] [int] NULL,
	[TotalMarks] [int] NULL,
 CONSTRAINT [PK_tblAssignmentMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAssignmentSubmission]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAssignmentSubmission](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentID] [int] NULL,
	[StudentID] [int] NULL,
	[SubmissionDate] [date] NULL,
	[DocURL] [nvarchar](max) NULL,
	[ObtainedMarks] [int] NULL,
 CONSTRAINT [PK_tblAssignmentSubmission] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAttendance]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAttendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[ClassSectionCompositeID] [int] NULL,
	[Date] [date] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[IsPresent] [bit] NULL,
	[BranchID] [int] NULL,
	[SessionYear] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblAttendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBranch]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBranch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BranchName] [nvarchar](150) NULL,
	[CampusID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblBranch] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClass]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClass](
	[Class_ID] [int] IDENTITY(1,1) NOT NULL,
	[Class_Name] [varchar](50) NULL,
	[BranchID] [int] NULL,
	[IsActive] [bit] NULL,
	[sort_by] [int] NULL,
	[isHifz] [bit] NULL,
 CONSTRAINT [PK_tblClass] PRIMARY KEY CLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClassDiary]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClassDiary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NULL,
	[Date] [date] NULL,
	[SubjectID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[ImgURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblClassDiary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblClassSubjects]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClassSubjects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NULL,
	[SectionID] [int] NULL,
	[FullName] [nvarchar](150) NULL,
	[ShortName] [nvarchar](50) NULL,
	[Priority] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblClassSubjects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComplaint]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComplaint](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FamilyID] [int] NULL,
	[StudentID] [int] NULL,
	[GuradianContact] [nvarchar](50) NULL,
	[ComplaintText] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[ResponseText] [nvarchar](max) NULL,
	[Reg_Date] [datetime] NULL,
	[Closing_Date] [datetime] NULL,
	[IsOpen] [bit] NULL,
	[IsNew] [bit] NULL,
 CONSTRAINT [PK_tblComplaint] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDegree]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDegree](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Degree] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblDegree] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDegreeParameters]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDegreeParameters](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](150) NULL,
	[DegreeTitle] [nvarchar](150) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblQualification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDeletedFee]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeletedFee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[FundTypeID] [int] NOT NULL,
	[RcptID] [int] NULL,
	[TransactionID] [int] NULL,
	[Payment] [decimal](18, 2) NULL,
	[Received] [decimal](18, 2) NULL,
	[PaymentDate] [datetime] NULL,
	[OriginalReceivedBy] [nvarchar](100) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletionDate] [datetime] NOT NULL,
	[DeletionTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDesignation]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDesignation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [nvarchar](250) NULL,
	[MustCheckinMinutesDifference] [int] NULL,
	[IsActive] [bit] NULL,
	[MustCheckinTime] [datetime] NULL,
	[LeavingTime] [datetime] NULL,
 CONSTRAINT [PK_tblDesignation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDesignationTimings]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDesignationTimings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DesignationID] [int] NOT NULL,
	[EffectiveFromDate] [date] NOT NULL,
	[CheckInTime] [time](7) NOT NULL,
	[CheckOutTime] [time](7) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmp_Attendance]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmp_Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Id] [int] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[LateComings] [int] NULL,
	[MustCheckInTime] [nvarchar](50) NULL,
	[CheckInTime] [nvarchar](50) NULL,
	[DepartureTime] [nvarchar](50) NULL,
	[ShortLeave_InitialTime] [nvarchar](50) NULL,
	[ShortLeave_FinalTime] [nvarchar](50) NULL,
	[DayOfWeek] [nvarchar](50) NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_tblEmp_Attendance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Thumb_ID] [nvarchar](150) NULL,
	[EmployeeName] [nvarchar](150) NULL,
	[FatherName] [nvarchar](150) NULL,
	[DoB] [date] NULL,
	[Gender] [nvarchar](150) NULL,
	[Religion] [nvarchar](150) NULL,
	[IsMarried] [bit] NULL,
	[Blood_Group] [nvarchar](150) NULL,
	[Permanent_Address] [nvarchar](150) NULL,
	[HomePhone] [nvarchar](150) NULL,
	[Contact1] [nvarchar](150) NULL,
	[Contact2] [nvarchar](150) NULL,
	[Contact3] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[CNIC] [nvarchar](50) NULL,
	[IdentityMark] [nvarchar](50) NULL,
	[Refered_By] [nvarchar](150) NULL,
	[LocalityID] [int] NULL,
	[Joining_Date] [date] NULL,
	[Salary] [decimal](18, 0) NULL,
	[ProfessionalDegree] [nvarchar](500) NULL,
	[IsTrained] [bit] NULL,
	[VerifiedBy] [nvarchar](500) NULL,
	[ApprovedBy] [nvarchar](500) NULL,
	[Leaving_Date] [date] NULL,
	[IsActive] [bit] NULL,
	[BranchID] [int] NULL,
	[DesignationID] [int] NULL,
	[MaritalStatus] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblStaff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeAssets]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeAssets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[AssetName] [nvarchar](500) NULL,
	[DateOfIssue] [date] NULL,
	[AssetWorth] [decimal](18, 0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblStaffAssets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeAttachment]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeAttachment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Attachment] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblStaffAttacment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeAttendance]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeAttendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Date] [datetime] NULL,
	[Time] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[LateComings] [int] NULL,
	[CurrentSalary] [decimal](18, 0) NULL,
	[LateDeduction] [decimal](18, 0) NULL,
	[TodaySalary] [decimal](18, 0) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[ChangeJson] [nvarchar](max) NULL,
	[CheckOutTime] [datetime] NULL,
 CONSTRAINT [PK_tblStaffAttendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeClass]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeClass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[ClassID] [int] NULL,
 CONSTRAINT [PK_tblStaffClass] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeExperience]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeExperience](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[InstituteName] [nvarchar](500) NULL,
	[Designation] [nvarchar](100) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[DurationYears] [int] NULL,
 CONSTRAINT [PK_tblStaffExperience] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeQualification]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeQualification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Degree] [nvarchar](200) NULL,
	[Board] [nvarchar](200) NULL,
	[Grade] [nvarchar](200) NULL,
	[Marks] [nvarchar](200) NULL,
	[Year] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblStaffQualification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeSalary]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeSalary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[BasicSalary] [decimal](18, 0) NULL,
	[NetSalary] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblStaffSalary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeSalaryComponents]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeSalaryComponents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[ComponentType] [varchar](100) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeSubject]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeSubject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[SubjectID] [int] NULL,
 CONSTRAINT [PK_tblStaffSubject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExam]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExamTypeID] [int] NULL,
	[StudentID] [int] NULL,
	[SubjectID] [int] NULL,
	[ClassID] [int] NULL,
	[SectionID] [int] NULL,
	[TotalMarks] [int] NULL,
	[MaxMarks] [int] NULL,
	[PassingMarks] [int] NULL,
	[ObtainedMarks] [int] NULL,
	[AttendanceRatio] [nvarchar](50) NULL,
	[BranchID] [int] NULL,
	[SessionYear] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblExam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblExamType]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ExamType] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_tblExamType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeeAndFundCollection]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeeAndFundCollection](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NULL,
	[StudentID] [int] NULL,
	[FundTypeID] [int] NULL,
	[Type] [nvarchar](500) NULL,
	[ClassID] [int] NULL,
	[Date] [date] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Payment] [decimal](18, 0) NULL,
	[Recieved] [decimal](18, 0) NULL,
	[BranchID] [int] NULL,
	[SessionYear] [nvarchar](50) NULL,
	[ReceivedBy] [nvarchar](100) NULL,
	[Time] [nvarchar](100) NULL,
	[RcptID] [int] NULL,
	[VoidAmount] [decimal](18, 0) NULL,
	[VoidDate] [date] NULL,
	[VoidBy] [nvarchar](100) NULL,
	[Discount] [decimal](18, 0) NULL,
	[ManualRcptNo] [nvarchar](100) NULL,
	[AugustGen] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblFeeAndFundCollection] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFeeType]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFeeType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblFeeType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFileDownloads]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFileDownloads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[FileURL] [nvarchar](max) NULL,
	[FileType] [nvarchar](100) NULL,
	[FileExtension] [nvarchar](100) NULL,
	[ForClassID] [int] NULL,
	[ForSubjectID] [int] NULL,
 CONSTRAINT [PK_tblFileDownloads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFundCharges]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFundCharges](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FundID] [int] NULL,
	[ClassCompositeID] [int] NULL,
	[Charges] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblFundCharges] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFundType]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFundType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FundType] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblFundType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGROUPS]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGROUPS](
	[GROUP_ID] [int] NOT NULL,
	[GROUP_TITLE] [nvarchar](30) NOT NULL,
 CONSTRAINT [G_PK] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHifz_ParaWiseStatus]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHifz_ParaWiseStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[Para_No] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Deadline] [date] NULL,
	[LateReason] [nvarchar](max) NULL,
	[ExamDate] [date] NULL,
	[ExaminerStaffID] [int] NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblHifz_ParaWiseStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInstitute]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInstitute](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Institute] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblInstitute] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLedger]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLedger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[Date] [date] NULL,
	[Description] [nvarchar](100) NULL,
	[TrxID] [int] NULL,
	[Due] [decimal](18, 0) NULL,
	[Received] [decimal](18, 0) NULL,
	[Balance] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblLedger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLevel1]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLevel1](
	[LID1] [int] NOT NULL,
	[Title1] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Level1] PRIMARY KEY CLUSTERED 
(
	[LID1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLevel2]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLevel2](
	[LID1] [int] NULL,
	[LID2] [varchar](50) NULL,
	[Title2] [nvarchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_Level2_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLevel3]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLevel3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LID2] [int] NOT NULL,
	[LID3] [varchar](50) NULL,
	[Title3] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Level3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLevel4]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLevel4](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LID3] [int] NOT NULL,
	[LID4] [varchar](50) NULL,
	[Titlle4] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Level4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoan]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[PaidAmount] [decimal](18, 0) NULL,
	[IsCleared] [bit] NULL,
 CONSTRAINT [PK_tblLoan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoanDetail]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoanDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoanID] [int] NULL,
	[EmpID] [int] NULL,
	[ReturnMonth] [int] NULL,
	[ReturnYear] [int] NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[PaidAmount] [decimal](18, 0) NULL,
	[IsClear] [bit] NULL,
 CONSTRAINT [PK_tblLoanDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLocality]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLocality](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Town] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_AddTown] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNewsAndEvents]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNewsAndEvents](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Title] [nvarchar](500) NULL,
	[Type] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[ShowOnHome] [bit] NULL,
	[imagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNewsAndEvents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNewsImages]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNewsImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NULL,
	[imagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNewsImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNotifications]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNotifications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[ComplaintID] [int] NULL,
	[FamilyID] [int] NULL,
	[StudentID] [int] NULL,
	[UserName] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[NotifyTo] [nvarchar](50) NULL,
	[NotificationText] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNotifications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOccupation]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOccupation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Occupation] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblOccupation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOnlineClassLink]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOnlineClassLink](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NULL,
	[ZoomURL] [nvarchar](max) NULL,
	[MeetingID] [nvarchar](max) NULL,
	[PassCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblOnlineClassLink] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblParameter]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblParameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](250) NULL,
	[Type] [nvarchar](250) NULL,
	[Value] [nvarchar](250) NULL,
	[AMorPM] [nvarchar](250) NULL,
	[Amount] [decimal](18, 0) NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_tblParameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReceipt]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReceipt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NULL,
	[StudentID] [int] NULL,
	[ClassCompositeID] [int] NULL,
	[ClassID] [int] NULL,
	[SectionID] [int] NULL,
	[FundTypeID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Amount] [decimal](18, 0) NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](50) NULL,
	[RecieverID] [int] NULL,
 CONSTRAINT [PK_tblReceipt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSalary]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSalary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Month] [int] NULL,
	[year] [int] NULL,
	[Absentees] [int] NULL,
	[AbsentDeduction] [decimal](18, 0) NULL,
	[LateComings] [int] NULL,
	[LateDeduction] [decimal](18, 0) NULL,
	[LoanDeduction] [int] NULL,
	[NetDeduction] [decimal](18, 0) NULL,
	[RegularSalary] [decimal](18, 0) NULL,
	[NetSalary] [decimal](18, 0) NULL,
	[BranchID] [int] NULL,
 CONSTRAINT [PK_tblSalary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSection]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSection](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Class_ID] [int] NULL,
	[SectionID] [int] NULL,
	[ClassName] [nvarchar](500) NULL,
	[BranchID] [int] NULL,
	[Fee] [int] NULL,
	[IsActive] [bit] NULL,
	[Class_Incharg_ID] [int] NULL,
	[Section_Gender] [varchar](50) NULL,
	[SectionName] [nvarchar](200) NULL,
	[Branch] [nvarchar](100) NULL,
	[IsHifz] [bit] NULL,
 CONSTRAINT [PK_tblSection] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSectionColors]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSectionColors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nvarchar](250) NULL,
	[BranchID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblSectionColors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSetup]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSetup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParameterNameTuitionFeeLockDay] [int] NULL,
 CONSTRAINT [PK_tblSetup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[Reg_Id] [int] NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[NameInUrdu] [nvarchar](250) NULL,
	[Caste] [varchar](50) NULL,
	[isOrphan] [bit] NULL,
	[isHafiz] [bit] NULL,
	[LocalityID] [int] NULL,
	[Gender] [varchar](50) NULL,
	[SpecialNotes] [varchar](500) NULL,
	[B_FormNum] [varchar](50) NULL,
	[Date_of_Brith] [date] NULL,
	[RegDate] [date] NULL,
	[Religion] [nvarchar](500) NULL,
	[Blood] [varchar](50) NULL,
	[Medium] [varchar](50) NULL,
	[Class_ID] [int] NULL,
	[Section_ID] [int] NULL,
	[ClassCompositeID] [int] NULL,
	[InitialClass] [nvarchar](500) NULL,
	[Fee] [int] NULL,
	[TutionFee] [decimal](18, 0) NULL,
	[FeeConcession] [decimal](18, 0) NULL,
	[Concession] [int] NULL,
	[AdmissionFee] [int] NULL,
	[LabCharges] [int] NULL,
	[AnnualCharges] [int] NULL,
	[TransportCharges] [int] NULL,
	[ActualFee] [int] NULL,
	[PrevSchoolName] [varchar](150) NULL,
	[PrevSchoolClass] [nvarchar](50) NULL,
	[Home_Address] [varchar](500) NULL,
	[Home_Phone] [varchar](50) NULL,
	[Family_Code] [int] NULL,
	[Prev_Class] [varchar](50) NULL,
	[Leave_Date] [date] NULL,
	[Mark_Of_Identification] [varchar](50) NULL,
	[SMS_Contact] [nvarchar](50) NULL,
	[Admitted_by] [nchar](50) NULL,
	[SubjectGroupID] [int] NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[BranchID] [int] NULL,
	[Academic_Year] [varchar](50) NULL,
	[Type] [nvarchar](500) NULL,
	[FeeType] [nvarchar](500) NULL,
	[SponsorDetail] [nvarchar](500) NULL,
	[MachineCode] [nvarchar](500) NULL,
	[TempClassID] [int] NULL,
	[RollNum] [nvarchar](100) NULL,
	[FinanceType] [nvarchar](100) NULL,
	[StudentContact] [nvarchar](100) NULL,
	[Church] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[SessionSpan] [nvarchar](100) NULL,
	[LearningMode] [nvarchar](200) NULL,
	[Sponsor] [nvarchar](100) NULL,
	[StudentType] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Old_Fee] [decimal](18, 0) NULL,
	[Old_Concession] [decimal](18, 0) NULL,
	[Old_TutionFee] [decimal](18, 0) NULL,
	[TempClassName] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblStudent] PRIMARY KEY CLUSTERED 
(
	[Reg_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudentAccount]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Familyid] [int] NULL,
	[Password] [nvarchar](250) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblStudentAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudentFamily]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentFamily](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[FamilyID] [int] NULL,
 CONSTRAINT [PK_tblStudentFamily] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudentFamilyDetail]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentFamilyDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FamilyID] [int] NULL,
	[FatherName] [nvarchar](150) NULL,
	[FatherCNIC] [nvarchar](50) NULL,
	[FatherQualificationID] [int] NULL,
	[FatherOccupationID] [int] NULL,
	[FatherMobileNo] [nvarchar](50) NULL,
	[FatherWorkPhone] [nvarchar](50) NULL,
	[FatherEmail] [nvarchar](50) NULL,
	[MotherName] [nvarchar](150) NULL,
	[MotherCNIC] [nvarchar](50) NULL,
	[MotherPhoneNo] [nvarchar](50) NULL,
	[MotherQualificationID] [int] NULL,
	[MotherOccupationID] [int] NULL,
	[Password] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[HomePhone] [nvarchar](50) NULL,
	[HomeAddress] [nvarchar](200) NULL,
 CONSTRAINT [PK_tblStudentFamilyDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudentLog]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[StudentID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblStudentLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudentType]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudentType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblStudentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubject_Classwise]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubject_Classwise](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[ClassID] [int] NULL,
 CONSTRAINT [PK_tblSubject_Classwise] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubjectGroup]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubjectGroup](
	[subject_group_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_group_name] [varchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tblSubjectGroup] PRIMARY KEY CLUSTERED 
(
	[subject_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubjectMaster]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubjectMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](500) NULL,
	[GroupName] [nvarchar](500) NULL,
	[Charges] [decimal](18, 0) NULL,
	[ShortName] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblSubjectMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Thumb_ID] [varchar](50) NULL,
	[TeacherName] [nvarchar](150) NULL,
	[FatherName] [nvarchar](150) NULL,
	[DoB] [date] NULL,
	[Gender] [nvarchar](150) NULL,
	[Religion] [nvarchar](150) NULL,
	[IsMarried] [bit] NULL,
	[Blood_Group] [nvarchar](150) NULL,
	[Permanent_Address] [nvarchar](150) NULL,
	[HomePhone] [nvarchar](150) NULL,
	[Contact1] [nvarchar](150) NULL,
	[Contact2] [nvarchar](150) NULL,
	[Contact3] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[CNIC] [nvarchar](50) NULL,
	[IdentityMark] [nvarchar](50) NULL,
	[Refered_By] [nvarchar](150) NULL,
	[LocalityID] [int] NULL,
	[WorkExperience] [nvarchar](max) NULL,
	[Joining_Date] [date] NULL,
	[Salary] [decimal](18, 0) NULL,
	[IsTrained] [bit] NULL,
	[VerifiedBy] [nvarchar](500) NULL,
	[ApprovedBy] [nvarchar](500) NULL,
	[Leaving_Date] [date] NULL,
	[IsActive] [bit] NULL,
	[BranchID] [int] NULL,
	[DesignationID] [int] NULL,
 CONSTRAINT [PK_tblTeacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher_Asset]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher_Asset](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NULL,
	[AssetID] [int] NULL,
	[DateOfIssue] [date] NULL,
	[Value] [decimal](18, 0) NULL,
	[IsAssignedYet] [bit] NULL,
 CONSTRAINT [PK_tblTeacher_Asset] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher_Asset_Parameter]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher_Asset_Parameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Asset] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblTeacher_Asset_Parameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher_Attachments]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher_Attachments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NULL,
	[HaveCNIC] [bit] NULL,
	[Path_CNIC] [nvarchar](max) NULL,
	[HaveExperienceLetter] [bit] NULL,
	[Path_ExpLetter] [nvarchar](max) NULL,
	[HaveCV] [bit] NULL,
	[Path_CV] [nvarchar](max) NULL,
	[HaveEducationalDocs] [bit] NULL,
	[Path_EduDocs] [nvarchar](max) NULL,
	[HavePics] [bit] NULL,
	[Path_Pics] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblTeacher_Attachments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher_Attendance]    Script Date: 4/24/2026 2:45:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher_Attendance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Day] [int] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[CheckInTime] [nvarchar](50) NULL,
	[DepartureTime] [nvarchar](50) NULL,
	[DayOfWeek] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTeacher_Attendance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher_Attendance_InOut]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher_Attendance_InOut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[Date] [date] NULL,
	[Time] [nvarchar](50) NULL,
	[Mode] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAttendance_Teacher_InOut] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacherQualification]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacherQualification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NULL,
	[matric_type] [nvarchar](50) NULL,
	[matric_board] [nvarchar](50) NULL,
	[matric_marks] [nvarchar](50) NULL,
	[matric_grade] [nvarchar](50) NULL,
	[matric_year] [nvarchar](50) NULL,
	[matric_remarks] [nvarchar](500) NULL,
	[inter_type] [nvarchar](50) NULL,
	[inter_institiute] [nvarchar](50) NULL,
	[inter_marks] [nvarchar](50) NULL,
	[inter_grade] [nvarchar](50) NULL,
	[inter_year] [nvarchar](50) NULL,
	[inter_remarks] [nvarchar](500) NULL,
	[bachelor_type] [nvarchar](50) NULL,
	[bachelor_institute] [nvarchar](50) NULL,
	[bachelor_marks] [nvarchar](50) NULL,
	[bachelor_grade] [nvarchar](50) NULL,
	[bachelor_year] [nvarchar](50) NULL,
	[bachlor_remarks] [nvarchar](500) NULL,
	[master_type] [nvarchar](50) NULL,
	[master_institute] [nvarchar](50) NULL,
	[mater_marks] [nvarchar](50) NULL,
	[master_grade] [nvarchar](50) NULL,
	[master_year] [nvarchar](50) NULL,
	[master_remarks] [nvarchar](500) NULL,
	[ProfessionalDegree] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTeacherQualification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTemp_AccountLedger]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTemp_AccountLedger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hash] [nvarchar](max) NULL,
	[VoucherID] [nvarchar](50) NULL,
	[VoucherType] [nvarchar](50) NULL,
	[AccountID] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Narration] [nvarchar](max) NULL,
	[Debit] [decimal](18, 0) NULL,
	[Credit] [decimal](18, 0) NULL,
	[Balance] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblTemp_AccountLedger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTempStaff]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTempStaff](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hash] [nvarchar](max) NULL,
	[Type] [nvarchar](100) NULL,
	[Asset_Name] [nvarchar](500) NULL,
	[Asset_DateOfIssue] [date] NULL,
	[Asset_AssetWorth] [decimal](18, 0) NULL,
	[Asset_Remarks] [nvarchar](500) NULL,
	[Attachment] [nvarchar](500) NULL,
	[Exp_InstituteName] [nvarchar](500) NULL,
	[Exp_Designation] [nvarchar](500) NULL,
	[Exp_FromDate] [date] NULL,
	[Exp_ToDate] [date] NULL,
	[Exp_DurationYears] [int] NULL,
	[Qual_Degree] [nvarchar](500) NULL,
	[Qual_Board] [nvarchar](500) NULL,
	[Qual_Grade] [nvarchar](500) NULL,
	[Qual_Marks] [nvarchar](500) NULL,
	[Qual_Year] [int] NULL,
	[Qual_Remarks] [nvarchar](500) NULL,
	[SubjectID] [int] NULL,
 CONSTRAINT [PK_tblTempStaff] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTempTransaction]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTempTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Hash] [nvarchar](500) NOT NULL,
	[VoucherType] [nvarchar](20) NULL,
	[Date] [datetime] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[MasterID] [int] NULL,
	[GroupID] [nvarchar](20) NULL,
	[SubGroupID] [nvarchar](20) NULL,
	[AccountID] [nvarchar](20) NULL,
	[Narration] [nvarchar](max) NULL,
	[Debit] [decimal](18, 2) NULL,
	[Credit] [decimal](18, 2) NULL,
	[SerialNo] [int] NULL,
 CONSTRAINT [PK_tblTempTrans] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTimeSlot]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTimeSlot](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeSlot] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTimeSlot] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTimeTable]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTimeTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[ClassID] [int] NULL,
	[TimeSlot] [nvarchar](500) NULL,
	[SubjectID] [int] NULL,
 CONSTRAINT [PK_tblTimeTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTransaction]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Time] [nvarchar](50) NULL,
	[StudentID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Amount] [decimal](18, 0) NULL,
	[Ratio] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblTransaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTransactionDetail]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransactionDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherNumber] [nvarchar](20) NOT NULL,
	[VoucherType] [nvarchar](20) NULL,
	[Date] [date] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[MasterID] [int] NULL,
	[GroupID] [nvarchar](20) NULL,
	[SubGroupID] [nvarchar](20) NULL,
	[AccountID] [nvarchar](20) NULL,
	[Narration] [nvarchar](max) NULL,
	[Debit] [decimal](18, 2) NULL,
	[Credit] [decimal](18, 2) NULL,
	[SerialNo] [int] NULL,
 CONSTRAINT [PK_tblTRN_DTL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTransactionMaster]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransactionMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherNo] [nvarchar](20) NOT NULL,
	[VoucherType] [nvarchar](20) NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[EntryUser] [nvarchar](20) NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblTRANSACTION_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](500) NULL,
	[RoleID] [int] NULL,
	[IsActive] [bit] NULL,
	[Password] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser_Rights]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser_Rights](
	[S_NO] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](50) NULL,
	[APPLICATION_CODE] [nvarchar](50) NULL,
	[APPLICATION_NAME] [nvarchar](30) NULL,
	[A_READ] [nvarchar](5) NULL,
	[A_WRITE] [nvarchar](5) NULL,
	[A_EDIT] [nvarchar](5) NULL,
	[A_PRINT] [nvarchar](5) NULL,
	[MODULE] [nvarchar](50) NULL,
 CONSTRAINT [PK_User_Rights] PRIMARY KEY CLUSTERED 
(
	[S_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserRights]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserRights](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[ModuleCode] [nvarchar](100) NULL,
	[ModuleName] [nvarchar](200) NULL,
	[HasAccess] [bit] NULL,
	[BranchCode] [nvarchar](50) NULL,
	[ModuleHead] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVoucherType]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVoucherType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VoucherType] [nvarchar](500) NULL,
	[VoucherTypeDenotion] [nvarchar](50) NULL,
	[Prefix] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblVoucherType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tlbRole]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlbRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_tlbRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xLastSessionImport]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xLastSessionImport](
	[Reg_no] [float] NULL,
	[Class] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[FatherName] [nvarchar](255) NULL,
	[NetTotal] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [sbs_admin1].[tblDeletedFee]    Script Date: 4/24/2026 2:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sbs_admin1].[tblDeletedFee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[FundTypeID] [int] NOT NULL,
	[RcptID] [int] NULL,
	[TransactionID] [int] NULL,
	[Payment] [decimal](18, 2) NULL,
	[Received] [decimal](18, 2) NULL,
	[PaymentDate] [datetime] NULL,
	[OriginalReceivedBy] [nvarchar](100) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletionDate] [datetime] NOT NULL,
	[DeletionTime] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblDeletedFee] ADD  DEFAULT (getdate()) FOR [DeletionDate]
GO
ALTER TABLE [dbo].[tblDeletedFee] ADD  DEFAULT (CONVERT([time],getdate())) FOR [DeletionTime]
GO
ALTER TABLE [dbo].[tblDesignationTimings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblDesignationTimings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tblEmployeeSalaryComponents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [sbs_admin1].[tblDeletedFee] ADD  DEFAULT (getdate()) FOR [DeletionDate]
GO
ALTER TABLE [sbs_admin1].[tblDeletedFee] ADD  DEFAULT (CONVERT([time],getdate())) FOR [DeletionTime]
GO
